<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="sensor_kit_macro" params="parent x y z roll pitch yaw">

    <!-- Include sensor URDFs -->
    <xacro:include filename="$(find velodyne_description)/urdf/VLP-16.urdf.xacro"/>
    <xacro:include filename="$(find vls_description)/urdf/VLS-128.urdf.xacro"/>
    <xacro:include filename="$(find camera_description)/urdf/monocular_camera.xacro"/>
    <xacro:include filename="$(find imu_description)/urdf/imu.xacro"/>

    <!-- Macro arguments -->
    <xacro:arg name="gpu" default="false"/>
    <xacro:arg name="config_dir" default="$(find sensor_kit_description)/config"/>
    <xacro:property name="sensor_kit_base_link" default="sensor_kit_base_link"/>

    <!-- Base link joint -->
    <joint name="${sensor_kit_base_link}_joint" type="fixed">
      <origin rpy="${roll} ${pitch} ${yaw}" xyz="${x} ${y} ${z}"/>
      <parent link="${parent}"/>
      <child link="${sensor_kit_base_link}"/>
    </joint>

    <link name="${sensor_kit_base_link}">
      <origin rpy="0 0 0" xyz="0 0 0"/>
    </link>

    <!-- Load calibration YAML -->
    <xacro:property name="calibration" value="${xacro.load_yaml('$(arg config_dir)/sensor_kit_calibration.yaml')}"/>

    <!-- LiDARs -->
    <xacro:VLP-16 parent="sensor_kit_base_link" name="lidar_velodyne_front" topic="/points_raw" hz="10" samples="220" gpu="$(arg gpu)">
      <origin
        xyz="${calibration['sensor_kit_base_link']['lidar_velodyne_front']['x']}
             ${calibration['sensor_kit_base_link']['lidar_velodyne_front']['y']}
             ${calibration['sensor_kit_base_link']['lidar_velodyne_front']['z']}"
        rpy="${calibration['sensor_kit_base_link']['lidar_velodyne_front']['roll']}
             ${calibration['sensor_kit_base_link']['lidar_velodyne_front']['pitch']}
             ${calibration['sensor_kit_base_link']['lidar_velodyne_front']['yaw']}"
      />
    </xacro:VLP-16>

    <xacro:VLP-16 parent="sensor_kit_base_link" name="lidar_velodyne_rear" topic="/points_raw" hz="10" samples="220" gpu="$(arg gpu)">
      <origin
        xyz="${calibration['sensor_kit_base_link']['lidar_velodyne_rear']['x']}
             ${calibration['sensor_kit_base_link']['lidar_velodyne_rear']['y']}
             ${calibration['sensor_kit_base_link']['lidar_velodyne_rear']['z']}"
        rpy="${calibration['sensor_kit_base_link']['lidar_velodyne_rear']['roll']}
             ${calibration['sensor_kit_base_link']['lidar_velodyne_rear']['pitch']}
             ${calibration['sensor_kit_base_link']['lidar_velodyne_rear']['yaw']}"
      />
    </xacro:VLP-16>

    <xacro:VLS-128 parent="sensor_kit_base_link" name="lidar_safety_front_left" topic="/points_raw" hz="10" samples="220" gpu="$(arg gpu)">
      <origin
        xyz="${calibration['sensor_kit_base_link']['lidar_safety_front_left']['x']}
             ${calibration['sensor_kit_base_link']['lidar_safety_front_left']['y']}
             ${calibration['sensor_kit_base_link']['lidar_safety_front_left']['z']}"
        rpy="${calibration['sensor_kit_base_link']['lidar_safety_front_left']['roll']}
             ${calibration['sensor_kit_base_link']['lidar_safety_front_left']['pitch']}
             ${calibration['sensor_kit_base_link']['lidar_safety_front_left']['yaw']}"
      />
    </xacro:VLS-128>

    <xacro:VLS-128 parent="sensor_kit_base_link" name="lidar_safety_front_right" topic="/points_raw" hz="10" samples="220" gpu="$(arg gpu)">
      <origin
        xyz="${calibration['sensor_kit_base_link']['lidar_safety_front_right']['x']}
             ${calibration['sensor_kit_base_link']['lidar_safety_front_right']['y']}
             ${calibration['sensor_kit_base_link']['lidar_safety_front_right']['z']}"
        rpy="${calibration['sensor_kit_base_link']['lidar_safety_front_right']['roll']}
             ${calibration['sensor_kit_base_link']['lidar_safety_front_right']['pitch']}
             ${calibration['sensor_kit_base_link']['lidar_safety_front_right']['yaw']}"
      />
    </xacro:VLS-128>

    <xacro:VLS-128 parent="sensor_kit_base_link" name="lidar_safety_rear_left" topic="/points_raw" hz="10" samples="220" gpu="$(arg gpu)">
      <origin
        xyz="${calibration['sensor_kit_base_link']['lidar_safety_rear_left']['x']}
             ${calibration['sensor_kit_base_link']['lidar_safety_rear_left']['y']}
             ${calibration['sensor_kit_base_link']['lidar_safety_rear_left']['z']}"
        rpy="${calibration['sensor_kit_base_link']['lidar_safety_rear_left']['roll']}
             ${calibration['sensor_kit_base_link']['lidar_safety_rear_left']['pitch']}
             ${calibration['sensor_kit_base_link']['lidar_safety_rear_left']['yaw']}"
      />
    </xacro:VLS-128>

    <xacro:VLS-128 parent="sensor_kit_base_link" name="lidar_safety_rear_right" topic="/points_raw" hz="10" samples="220" gpu="$(arg gpu)">
      <origin
        xyz="${calibration['sensor_kit_base_link']['lidar_safety_rear_right']['x']}
             ${calibration['sensor_kit_base_link']['lidar_safety_rear_right']['y']}
             ${calibration['sensor_kit_base_link']['lidar_safety_rear_right']['z']}"
        rpy="${calibration['sensor_kit_base_link']['lidar_safety_rear_right']['roll']}
             ${calibration['sensor_kit_base_link']['lidar_safety_rear_right']['pitch']}
             ${calibration['sensor_kit_base_link']['lidar_safety_rear_right']['yaw']}"
      />
    </xacro:VLS-128>

    <!-- Cameras -->
    <xacro:monocular_camera_macro
	  namespace="camera_front"
	  name="camera_front/camera"
      parent="sensor_kit_base_link"
      x="${calibration['sensor_kit_base_link']['camera_front']['x']}"
      y="${calibration['sensor_kit_base_link']['camera_front']['y']}"
      z="${calibration['sensor_kit_base_link']['camera_front']['z']}"
      roll="${calibration['sensor_kit_base_link']['camera_front']['roll']}"
      pitch="${calibration['sensor_kit_base_link']['camera_front']['pitch']}"
      yaw="${calibration['sensor_kit_base_link']['camera_front']['yaw']}"
      fps="30" width="800" height="400" fov="1.3"
    />

    <xacro:monocular_camera_macro
      namespace="camera_rear"
      name="camera_rear/camera"
      parent="sensor_kit_base_link"
      x="${calibration['sensor_kit_base_link']['camera_rear']['x']}"
      y="${calibration['sensor_kit_base_link']['camera_rear']['y']}"
      z="${calibration['sensor_kit_base_link']['camera_rear']['z']}"
      roll="${calibration['sensor_kit_base_link']['camera_rear']['roll']}"
      pitch="${calibration['sensor_kit_base_link']['camera_rear']['pitch']}"
      yaw="${calibration['sensor_kit_base_link']['camera_rear']['yaw']}"
      fps="30" width="800" height="400" fov="1.3"
    />

    <!-- IMU -->
    <xacro:imu_macro
      namespace=""
      name="tamagawa/imu"
      parent="sensor_kit_base_link"
      x="${calibration['sensor_kit_base_link']['imu_link']['x']}"
      y="${calibration['sensor_kit_base_link']['imu_link']['y']}"
      z="${calibration['sensor_kit_base_link']['imu_link']['z']}"
      roll="${calibration['sensor_kit_base_link']['imu_link']['roll']}"
      pitch="${calibration['sensor_kit_base_link']['imu_link']['pitch']}"
      yaw="${calibration['sensor_kit_base_link']['imu_link']['yaw']}"
      fps="100"
    />

  </xacro:macro>
</robot>

